body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(165, 176, 185);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 600px;
    background-color: black;
    color: orange;
    font-size: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px dotted aliceblue; 
    margin-bottom: 2px;
}

.container {
    margin: 5px;
    border: 5px solid aliceblue;
    height: 400px;
    width: 400px;
}